<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <link href="/backend/app/static/css/RatingStyle.css" rel="stylesheet" type="text/css">
    <title>Team</title>
</head>
<body>
    <div id="nav-placeholder"></div>
    <script>
    $(function(){
        $("#nav-placeholder").load("../../navbar.html");
    });
    </script>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    </div>
</body>
</html>